
.contenedor-resumen-venta{
    padding: 6.5rem 0 10rem 0;
}

/*BANNER*/
.resumen-venta-banner {
    width: 100%;
    position: relative;
}

.resumen-venta-banner img {
    width: 100%;
}

.resumen-venta-banner p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3rem;
    font-family: "clicker" !important;
    color: #ffffff;
}

/**SUBTITLE**/
.resumen-seguimiento-ventas{
    margin:3rem;
}
.resumen-subtitles{
    display: flex;
    align-items: center;
}
.resumen-subtitles p{
    margin:0 0 0 1rem;
    font-family: "mont-bold";
    font-size:2rem;
    color:#DC6A8D;
}

/**CARDS**/

.resumen-container-cards .card-resumen{
    margin:2rem 0;
}
.resumen-container-cards .card-resumen:first-of-type{
    margin-top:3rem;
}
.resumen-container-cards .card-resumen:last-of-type{
    margin-bottom:4rem;
}
.resumen-container-card-pendiente{
    margin:3rem 0;
}