.text-pink {
    background-color: #EC608D;
}


input {
    text-align: left;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.all-content{
    width:100%;
}

.title-login,.title-recover,.title-reset {
    font-size:2rem;
    margin: 0.5rem 0!important;
}

.container-checkbox {
    display: flex;
    align-items: center;
}

.wrapper-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper-checkbox input {
    height: 2.4rem;
    width: 2.4rem;
}

.wrapper-checkbox label {
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-family: "mont-light" !important;
    font-size: 1.1rem;
    color: #575650;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.forgot-password {
    font-family: "mont-regular";
    font-weight: 600;
    font-size: 1.3rem;
    color: #556EA1;

    text-decoration: underline;
}

.contenedor-boton-pink {
    margin-top:3rem!important;
    margin-bottom:3rem!important;
}

.container-line {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.container-line hr {
    flex-grow: 1;
}

.container-line p {
    margin-top: -0.25rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #575650;
    opacity: 0.6;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "mont-regular" !important;
}


.login--container-registrar {
    margin: 0 2.5rem;
}
.container-form-reset{
    margin-top:3rem;
}



.reset-show-desktop{
    display:none;
    z-index: -1;
}


/**480 - 768 - 1024 -1280 */
@media (min-width: 480px) {
    
    .all-content {
        width : 48rem;
    }

    .login .yellow {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
    .reset--container-contenido{
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

@media (min-width: 768px) {
    .text-pink {
        background-color: #DC6A8D;
        margin-top: 3rem !important;
    }
    .title-recover,.title-reset{
        font-size:2.3rem;
    }
    .title-login{
        font-size:2.3rem;
        font-family:"mont-heavy"!important;
    }

    .iniciar-sesion {
        font-family: "mont-heavy" !important;
        font-size: 2.3rem;
    }

    .google {
        border: 1px solid #575650;
    }

    .google p {
        color: #575650;
        opacity: 0.5;
    }

    .wrapper-end {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .yellow {
        margin: 0;
    }

    .icon {
        margin-right: 4rem;
    }
    
    .login--container-registrar {
        margin: 0 5rem;
    }

    .reset-hide-desktop{
        display: none;
        z-index: -1;
    }
    .reset-show-desktop{
        display: block;
        z-index: 1;
    }
}

@media (min-width: 1024px) {
    
    .title-login,.title-reset,.title-recover{
        font-size:2.5rem;
    }
}

@media(min-width:1280px) {
    .title-login,.title-reset,.title-recover{
        font-size:3rem;
    }
    
    .login--container-registrar {
        margin: 0 4rem;
    }
}