.container-pagination{
  margin: 57px auto 110px auto;
  width: 100%;
}
.content-pagination{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-page{
  display: flex;
  border: none;
  outline: none;
  font-family: "Mont-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 41px;
  align-items: center;
  justify-content: center;  
}
.current-page{
  width: 39.63px;
  height:39.63px;
  
  background: #DC6A8D;
  color: #fff;
  border-radius: 50%;
}
.number-page{
  padding: 8px;
  background: #fff;
  color: #556EA1;
}


@media (min-width : 480px){
  .container-pagination{
    margin: 57px auto 110px auto;
    width: 100%;
  }   
}
@media (min-width : 768px){
  .container-pagination{
    margin: 57px auto 110px auto;
    width: 100%;
  }
}
@media (min-width : 1024px){
  .container-pagination{
    margin: 81px auto 128px auto;
    width: 100%;
  }
}
@media (min-width : 1280px){
  .container-pagination{
    margin: 81px auto 128px auto;
    width: 100%;
  }
}