
.resumen--box-main-proveedor{
    padding:10rem 0;
}

.resumen--contenedor-centered{
    padding:0 1rem;
}

.resumen--container-title{
    display:flex;
    flex-direction: column;
    margin-bottom:2rem;
}
.title-resumen{
    margin:2rem 0;
}
.resumen--container-select{
    display:flex;
    justify-content: flex-end;
}

.pagination-orders-container{
    display :flex;
    align-items:center;
    justify-content: center;
    margin: 5rem 0;
}

@media (min-width : 480px){
    .resumen-details{
        width:45rem;
        margin:0 auto;
    }
    .resumen--all-content{
        width:43rem;
        margin: 0 auto;
    }
}
@media (min-width : 768px){
    .resumen--all-content{
        width:100%;
    }
    .resumen--container-contenido{
        padding : 0 3rem;
    }
    .resumen--container-contenido{
        padding : 0 5rem;
    }
}