
.resumen--box-main-proveedor{
    padding:10rem 0;
}

.resumen--contenedor-centered{
    padding:0 1rem;
}

.resumen--container-title{
    display:flex;
    flex-direction: column;
    margin-bottom:2rem;
}
.title-resumen{
    margin:2rem 0;
}
.resumen--container-select{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.resumen--container-select input {
    width:50%;
    margin: 0 auto;
}
.resumen--filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.pagination-orders-container{
    display :flex;
    align-items:center;
    justify-content: center;
    margin: 5rem 0;
}

.zero-orders {
    font-family: 'mont-regular';
    font-size: 1.4rem;
}
.resumen--input-text {
    border: none;
    border-bottom: 1px solid #DADADA;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
    font-family: "mont-regular" !important;
    font-weight: 600;
    color: #575756;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 1rem;
}

.resumen--wrap-filters {

    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;

}


@media (min-width : 480px){
    .resumen-details{
        width:45rem;
        margin:0 auto;
    }
    .resumen--all-content{
        width:43rem;
        margin: 0 auto;
    }
}
@media (min-width : 768px){
    .resumen--wrap-filters {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }
    .resumen--filters {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;
    }
    .resumen--container-select {
        justify-content: flex-end;
        gap: 8px;
    }
    .resumen--container-select input {
        width: unset;
        margin: unset;
    }
    .resumen--all-content{
        width:100%;
    }
    .resumen--container-contenido{
        padding : 0 3rem;
    }
    .resumen--container-contenido{
        padding : 0 5rem;
    }
}