.contenedor-info-perfil{
    padding: 12.5rem 0 10rem 0;
}

.info-container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-list a{
    text-decoration: none;
}
.info-list li{
    font-family: "mont-regular";
    font-size:1.8rem;
    color:#575650;
    padding:1.3rem;
    border:none;
    border-top: 1px solid #DADADA;
}
.info-perfil-container-options{
    margin:5rem 0;
}

@media (min-width : 768px){
    .info-container-title{
        justify-content: flex-start;
        margin-left:1rem;
    }
}

