.header-title {
    display: flex;
    flex-direction: column;
}

.item-details {
    margin: 0.5rem 0;
}
.text-products-by-order{
    font-family: "mont-semibold";
    font-size: 1.3rem;
    color: #000000;
    letter-spacing: 0.1px;
}
.card {
    margin: 3rem 0 0 0;
    border: 1px solid #FFFFFF!important;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.13);
    border-radius: 2rem !important;
}
.card p{
    margin-bottom:0;
}

.card-header {
    background: none!important;
    padding: 2rem 3rem!important;
    border-bottom: none!important;
}

.card-body {
    padding: 0 3rem 2rem 3rem!important;
}

.item-details p {
    font-family: "mont-semibold";
    font-size: 1.3rem;
    color: #575650;
    letter-spacing: 0.1px;
}

.item-details p span {
    font-family: "mont-regular";
    color: #5A5A5A;
    margin-left: 1rem;
}

.container-products {
    position: relative;
}

.card-body .container-products {
    padding: 1.5rem 0;
    border-top: 1px solid rgba(87, 86, 80, 0.5);
    line-height:2.3rem;
}

.without-border{
    border-top: none!important;
}

.icon-editar {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.modal-update-product{
  border: 3px dashed #DC6A8D!important;
  border-radius: 30px;
  width: 95vw;
  height: 80vh;
}
/* inicio scrollbar - modal sweetalert */
.swal2-html-container::-webkit-scrollbar {
  width: 12px;
}

.swal2-html-container::-webkit-scrollbar-track {
	background: #f7f7f7;
}

.swal2-html-container::-webkit-scrollbar-thumb {
	background-color: #cfcfcf;
	border-radius: 5px;
	border: 3px solid #f7f7f7;
}
/* fin scrollbar - modal sweetalert */
.update-product-title{
  font-family: 'mont-bold';
  font-style: normal;
  font-weight: 700;
  color:#DC6A8D;
  font-size: 18px;
  line-height: 21px;
}
.container-visible {
    display: flex;
}

.container-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**EXPAND**/
.btn-click{
    cursor:pointer;
    display:flex;
}
.btn-click svg{
    margin: 0.5rem 0 0 0.5rem;
}
.active{
    transition: all 0.3s ease-in-out;
    transform:rotate(180deg);
}
.no-active{
    transition: all 0.3s ease-in-out;
    transform:rotate(0deg);
}
.detalles{
    font-family:"mont-regular";
    color:#556EA1!important;
    font-size:1.2rem!important;
}

.btn-update-modal{
    width :20rem;
    background : #e1e1e1;
    cursor:pointer;
    margin : 0 auto;

}
@media (min-width : 480px){
	.modal-update-product{
		width: 95vw;
		height: 85vh;
	}
}
@media (min-width : 768px){
	.modal-update-product{
		width: 85vw;
		height: 85vh;
	}
    .wrapper-subtotal-product{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width : 1024px){
	.modal-update-product{
		width: 60vw;
		height: 75vh;
	}  
}
@media (min-width : 1280px){
	.modal-update-product{
		width: 50vw;
		height: 70vh;
		max-width: 900px;
	}
}
