.header-title {
    display: flex;
    flex-direction: column;
}

.item-details {
    margin: 1rem 0;
}

.card {
    margin: 3rem 0 0 0;
    border: 1px solid #FFFFFF!important;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.13);
    border-radius: 2rem !important;
}
.card p{
    margin-bottom:0;
}

.card-header {
    background: none!important;
    padding: 2rem 3rem!important;
    border-bottom: none!important;
}

.card-body {
    padding: 0 3rem 2rem 3rem!important;
}

.item-details p {
    font-family: "mont-semibold";
    font-size: 1.3rem;
    color: #575650;
    letter-spacing: 0.1px;
}

.item-details p span {
    font-family: "mont-regular";
    color: #5A5A5A;
    margin-left: 1rem;
}

.container-products {
    position: relative;
}

.card-body .container-products {
    padding: 1.5rem 0;
    border-top: 1px solid rgba(87, 86, 80, 0.5);
    line-height:2.3rem;
}

.icon-editar {
    position: absolute;
    right: 0;
    top: 0;
}

.container-visible {
    display: flex;
}

.container-expand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**EXPAND**/
.btn-click{
    cursor:pointer;
    display:flex;
}
.btn-click svg{
    margin: 0.5rem 0 0 0.5rem;
}
.active{
    transition: all 0.3s ease-in-out;
    transform:rotate(180deg);
}
.no-active{
    transition: all 0.3s ease-in-out;
    transform:rotate(0deg);
}
.detalles{
    font-family:"mont-regular";
    color:#556EA1!important;
    font-size:1.2rem!important;
}