.see-product--box-main-proveedor{
  padding:10rem 1.6rem;
}

/* .profile-store--contenedor-centered {
  padding: 1  rem 2.5rem;
} */
.profile-store--container{
  padding-top : 10rem;
}
.profile-store--all-content {
  padding: 1rem 1.7rem 15rem 1.7rem;
  min-height: calc(100% -382.5px);

}

.profile-store--container-contenido{
  margin: 0 auto;  
  height: auto;
}

/**CONTENIDO */
.profile-store--container-advice {
  border: 2px solid #556EA1;
  box-sizing: border-box;
  border-radius: 24px;
  /* width: 22.5rem; */
  /* margin-top: 15rem; */
}

.profile-store--container-advice h5 {
  font-family: "mont-semibold" !important;
  font-size: 20px;
  color: #556EA1;
  text-align: center;
  margin: 28px 48px;
  line-height: 25.56px;
}

.profile-store-container-stepper{
  margin-top: -10px;
  padding-bottom: 34.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-store-content-card{
  width: 100%;
}
.profile-store-content-card-input{
  width: 100%;
  margin-top: 16px;
}

.profile-store-content-card>p:first-child, .profile-store-recommendation, .obligatory-field{
  font-family: "mont-regular" ;
  font-size: 1.1rem;
  font-weight: 300;
  color: #575650;
  line-height: 15px;
  letter-spacing: -0.5px;
  text-align: justify;
  opacity: 0.6;
}

.obligatory-field{
  padding-top:10px;
  margin-bottom: 59px;
}

.profile-store-content-input{
  display: flex;
  min-height: 60px;
  flex-direction: column;
}

.profile-store-filename{
  margin: auto 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size:1.2rem;
  height:2rem;  
}

.profile-store-container-input{
  display: none;
  border: 1px solid #556EA1;
  padding: 0 10px;
  border-radius: 20px;
  font-family: 'mont-regular';
  font-size:1.2rem;
}

.profile-store-container-input-mobile {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #DADADA;
  padding: 0 10px;
  margin-bottom: 7px;
  font-family: 'mont-regular';
}

.profile-store-content-input input[type="file"]{
  display: none;
  color: transparent;
}

.profile-store-btn-input{
  margin-top: 23px;
  height: 60px;
  outline: none;
  border: none;
  background: #556EA1;
  color: #fff;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  font-family: 'omnes-regular';

font-weight: 500;
font-size: 23px;
line-height: 25px;
padding: 17px auto;
}
/* text button input*/
.text-button-image{
  color: #fff !important;
  font-family: "omnes-bold" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 23px !important;
  line-height: 25px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;

}
/* DRAGNDROP */
.profile-store-content-dragndrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-store-container-button {
  width: 100%;
  float: right;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 90px;
  border-radius: 40px;
  padding: 0 60px;
}
.profile-store-container-button>.boton{
  width: 100%;
  height: 60px;
  border-radius: 40px;
  
}

.label-for-logo{
  width:100%;
}


@media (min-width : 480px){
  .profile-store--all-content{
      width:100%;
      margin: 0 auto;
      padding : 0 auto;
      min-height: calc(100% -382.5px);
  }
  .profile-store--container-contenido{
      width: 45rem;
      margin: 0 auto;
      padding : 0 auto;
  }
  .profile-store-container-input {
    width: 10.8rem;
  }

  .profile-store-container-form{
    width: 45rem;
  }
}

@media (min-width : 768px){
  .profile-store--all-content{
    width:100%;
    min-height: calc(100% -382.5px);
  }
  
  .profile-store--container-contenido{
    width: 72rem;
    margin: 0 auto;
    padding : 0 auto;
  }
  /* text button input*/
  .text-button-image{
    color: #fff;
  }
  /* DRAGNDROP */
  .profile-store-content-dragndrop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile-store-container-form{
    width: 70rem;
    margin : 0 auto;
  }
  
  .profile-step-container-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label-for-logo{
    width: 70%;
  }
}
@media (min-width : 1024px){
  .profile-store--container-advice{
      border-radius:15px;
  }
  
  .profile-store--container-contenido{
    width: 72rem;
    margin: 0 auto;
    padding : 0 auto;
  }
  /* text button input*/
  .text-button-image{
    color: #fff;
  }
}
@media (min-width : 1280px){
  
  .profile-step-container-button{
    display:inline-block;
  }
  .label-for-logo{
    width: 100%;
  }
  .profile-store-container-form{
    width: 85rem;
  }
  .obligatory-field {
    margin-bottom: 0;
  }
  .profile-store--container-advice h5{
    font-size:2rem;
    
  }
  
  .profile-store--container-contenido{
    width: 92rem;
    margin: 0 auto;
    
  }
  .profile-store-container-input, .profile-store-filename {
    width: 36.8rem;
  }
  .profile-store-content-card{
    width: 776px;
    margin: 16px auto 0 auto;
  }
  

  /* DRAGNDROP */
  .profile-store-content-dragndrop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  /* text button input*/
  .text-button-image{
    color: #fff;
  }
  /* CONTAINER INPUT FILES */
  .profile-store-content-input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  /* INPUT FILES */
  .profile-store-container-input{
    display: flex;
    border: 1px solid #556EA1;
    padding: 0 10px;
    border-radius: 20px;
    width: 50rem;
    height: 4.5rem !important;
  }
  
  .profile-store-container-input-mobile {
    display: none;
   
  }
  .profile-store-container-button{
    max-width: 20rem;
    float: right;
    margin-top: 40px;
    display: flex;
    align-items: stretch;
    height: 90px;
    border-radius: 40px;
  }
  .profile-store-container-button>.boton{
    width: 26rem;
    border-radius: 40px;
  }
  .profile-step-container-button{
    display: flex;

    height: 4.5rem ;
  }
  .profile-step-container-button.boton{
    border-radius: 30px;
  }
}
