a {
    text-decoration: none;
}

:global(.list-group-flush > .list-group-item) {
    padding: 1.5rem;
}

.drop-menu {
    padding: 4rem 0;
    position: fixed;
    z-index: 999999;
    width: 90%;
    height: 100%;
    left: 0;
    background: white;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.drop-menu-off {
    opacity: 0;
    left: -100%;
}

.container-close {
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
}

.container-title {
    margin-top: 2rem;
}

.line-under-title {
    border-top: 0.25px solid #ec668d;
}

.title-drop-menu {
    margin: 0 0 2rem 6.5rem;
    font-family: "mont-semibold" !important;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ec668d;
}

.text-navbar {
    margin: 0;
    font-family: "mont-light" !important;
    font-size: 2rem;
    color: #575756;
}

.item-menu-yesmom {
    display: flex;
    align-items: center;
}

.item-menu-yesmom h6 {
    margin-left: 2rem;
}

.container-image-icon img {
    width: 3rem;
    height: 3rem;
}

.contenedor-items {
    margin-top: 2rem;
}

.options-proveedor {
    display: flex;
}

.options-proveedor img {
    margin-left: 2rem;
}

.expanded-options {
    margin-left: 5rem;
}

.expanded-options p {
    font-family: "mont-light" !important;
    font-size: 1.8rem;
    color: #575650;
}

@media (min-width: 993px) {
    .drop-menu {
        visibility: hidden;
    }
}