
.container_nav-menu{
    background: #E4EDE1;
    padding: 1.5rem 0;
}

.nav_menu-actions{
    width : 80%;
    font-family: "mont-regular";
    display: flex;
}

.nav_menu-actions-link a{
    color: #556EA1!important;
    text-decoration: underline!important;
    font-size : 1.4rem;
}