
.text_eliminar-store{
    margin : 0;
    font-family : "mont-light";
    color: #5A5A5A;
    font-size : 1.3rem;
}


@media (min-width : 768px){
    .eliminar_store-container-content{
        width:50rem;
    }
}
@media (min-width : 1280px){
    .eliminar_store-container-content{
        width:55rem;
    }  
}