
    /**CONTENIDO */
    .see-product--container-advice {
        border: 2px solid #55B446;
        box-sizing: border-box;
        border-radius: 24px;
    }

    .see-product--container-advice h5 {
        font-family: "mont-semibold" !important;
        font-size: 2rem;
        color: #55B446;
        text-align: center;
        margin: 1.5rem 2rem;
    }

    /**TITLE PRODUCT */
    .see-product--title-product {
        font-family: "mont-semibold" !important;
        font-size: 2.5rem;
        color: #DC6A8D;
        text-align: center;
        margin: 2rem 0;
    }

    /**SELECT */
    .see-product--container-select {
        display: flex;
        justify-content: flex-end;
    }

    @media (min-width : 480px){
        .see-product--all-content{
            width:43rem;
            margin: 0 auto;
        }
    }
    @media (min-width : 768px){
        .see-product--all-content{
            width:100%;
        }
        .see-product--title-product{
            font-size:2.7rem;
        }
        .see-product--container-title{
            width:70%;
            margin:0 auto;
        }
        .see-product--container-contenido{
            padding : 0 3rem;
        }
    }
    @media (min-width : 1024px){
        .see-product--container-advice{
            border-radius:15px;
        }
        .see-product--title-product{
            font-size:2.8rem;
        }
        .see-product--container-title{
            width:80%;
            margin:0 auto;
        }
        .see-product--container-contenido{
            padding : 5rem 5rem;
        }
    }
    @media (min-width : 1280px){
        .see-product--container-advice h5{
            font-size:2rem;
        }
        .see-product--title-product{
            font-size:3rem;
        }
        .see-product--container-title{
            width:90%;
            margin:0 auto;
        } 
        .see-product--container-contenido{
            padding : 6rem 6rem;
        }
    }