/* PRINCIPAL-CONTAINER */
.active-products-container{
  margin-top: 21px;
  min-height: calc(100vh - 348px);
  padding: 0 27px;
}

.active-products-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* CONTAINER AND ICON DELETE ONE */
.active-products-item{
  padding-bottom: 24px;
  padding: 2px;
  position: relative;
}

.active-products-item > .icon-close{
  right: 1rem;
  top: 2rem;
  position: absolute;
  width: 28px;
}
.active-products-filter-contenedor a{
    font-family: 'mont-regular';
    color: #556EA1!important;
    text-decoration: underline!important;
    font-size: 1.4rem;
}

.active-products-filter{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.container-delete-products{
  display: flex;
}

.container-icon-delete{
  border-left: 1px solid #DADADA;
}

.icon-delete{
  margin: 4px 12px 4px 15px;
  cursor: pointer;
}

.icon-delete-disabled{
  opacity: 0.5;
  cursor:unset;
}
.content-page{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-filter{
  display:flex;
  flex-direction: column;
}
.container-filter-activos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin :1rem 0;
}
.container-filter-activos p {
  cursor : pointer;
  margin : 0 1rem;
  font-size :1.4rem;
  color : #5A5A5A;
  font-family: 'mont-regular';
  transition : transform 0.3 ease-in-out;
}

.container-filter-activos p:hover{
  transform: scale(1.05);
}

.active-filter-products {
  color : #556EA1!important;
  font-size:1.7rem!important;
}

.empty-products{
  font-family: 'mont-light';
  font-size : 1.3rem;
}

/* PAGINATION */
.page-item-page-custom{
  width : 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.active-custom-pagination{
  background-color: #DC6A8D;
  border-radius : 50%
}
.page-item-custom-pagination{
  height : 3rem;
  display:  flex;
  justify-content: center;
  align-items: center;
  margin:0 0.5rem;
  color :#556EA1;
}

.page-link-custom-pagination{
  font-family: 'mont-regular';
  color : #556EA1;
  font-size : 1.7rem;
}

.active-custom-pagination >  .page-link-custom-pagination {
  color : #FFFFFF;
}


/*  */
@media (min-width : 480px){
        
}
@media (min-width : 768px){
  .active-products-container{
    margin-top: 54px;
    min-height: calc(100vh - 348px);
    padding: 0 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-nav{
    width: 20%;
  }
  .content-products{
    width: 75%;
    max-width: 1250px;
  }

  .active-products-grid{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin : 0 auto;
  }
}
@media (min-width : 1024px){
  .active-products-container{
    margin-top: 84px;
    min-height: calc(100vh - 348px);
    padding: 0 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-nav{
    width: 20%;
  }
  .content-products{
    width: 75%;
    max-width: 1250px;
  }
  .active-products-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* CONTAINER AND ICON DELETE ONE */
  .active-products-item{
    padding-bottom: 24px;
    padding: 8px;
    position: relative;
  }
  .active-products-item > .icon-close{
    position: absolute;
    width: 36px;
  }

  .active-products-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width : 1280px){
  .active-products-container{
    margin-top: 84px;
    min-height: calc(100vh - 348px);
    padding: 0 27px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .content-nav{
    width: 20%;
  }
  .content-products{
    width: 75%;
    max-width: 1250px;
  }
  .active-products-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* CONTAINER AND ICON DELETE ONE */
  .active-products-item{
    padding-bottom: 24px;
    padding: 8px;
    position: relative;
  }
  .active-products-item > .icon-close{
    position: absolute;
    width: 36px;
    cursor:pointer;
  }

  .icon-delete{
    margin: 7px 25px 7px 19px;
  }
}