
.op-8{
    opacity: 0.8;
}

.container-forgot-password{
    display: flex;
    justify-content: flex-end;
    margin-bottom:1rem;
}
.container-forgot-password a{
    font-family:"mont-regular";
    font-size:1.3rem;
    color: #556EA1;
    opacity: 0.8;
}

@media (min-width : 768px){
    .flex-right-ml{
        margin-left:5rem;
    }
    .change-container-content{
        width:50rem;
    }
}
@media (min-width : 1280px){
    .change-container-content{
        width:55rem;
    }  
}