
.op-8{
    opacity: 0.8;
}


@media (min-width : 768px){
    .change-container-content{
        width:50rem;
    }
}
@media (min-width : 1280px){
    .change-container-content{
        width:55rem;
    }  
}