
.contenedor-registro {
    padding-top: 10rem;
    padding-bottom: 8rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 0;
}

.registro-container-stepper{
    display: flex;
    align-items: center;
    justify-content: center;
}



.registro-title-swal{
    font-family:"mont-semibold";
    font-weight:600;
    font-size:1.8rem;
    color:#5A5A5A;
}
.registro-box-checkbox{
    display: flex;
    margin:1rem 0;
}

.registro-box-checkbox input{
    color:red;
    margin-top:0.25rem;
}

.registro-box-checkbox label{
    margin-left:2rem;
    text-align: justify;
    font-family:"mont-regular";
    font-size:1.3rem;
    color: #575650;
    opacity: 0.8;
}

.swal2-html-container{
    overflow: hidden;
}

.registro-politics{
    display: flex;
    align-items: center;
    justify-content: center;
}
.to-politics{
    margin-top:2rem;
    font-family:"mont-regular";
    font-size:1.3rem;
    color:#556EA1;
    text-decoration: underline;
}
.registro-show-desktop{
    display: none;
}

.registro-box-input{
    display:flex;
    flex-direction: column;
}

.error-input{
    margin : 0;
    font-family: "mont-bold";
    font-size:1.2rem;
    height:1.5rem;
    color:#ff0033;
}

.show-only-desktop {
    display: none;
}

/***/
@media (min-width : 480px){
    .registro-container-contenido{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .registro-all-content{
        width:48rem;
    }
}

@media (min-width : 768px){
    
    .registro-all-content{
        width:53rem;
    }
    
    .registro-container-button{
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
    }
    .registro-container-button > div{
        border-radius: 30px;
    }

    
    .registro-hide-desktop{
        display: none;
    }

    .show-only-desktop{
        display:block;
    }
}

@media (min-width : 1024px){
    .registro-all-content{
        width:76rem;
    }
    
    .registro-box-input{
        margin:2rem 0;
    }
    /**SWAL**/
    .swal2-popup{
        width:70rem;
    }
    .registro-title-swal{
        text-align: left;
        margin-left:2rem;
    }
    .swal2-html-container{
        margin:0 5rem;
    }
    .registro-politics{
        justify-content: flex-start;
    }
    .swal2-confirm p{
        font-size:1.8rem;
    }
}