.mt-0{
    margin-top:0;
}
.mb-0{
    margin-bottom:0;
}
.mb-1{
    margin-bottom:1.5rem;
}

.contenedor-registro {
    padding-top: 10rem;
    padding-bottom: 8rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 0;
}
.registro-container-form{
    margin: 1.5rem 0;
    padding: 2rem 0.7rem 4rem 0.7rem;
    background: #FFFFFF;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
}

.registro-title{
    font-family: "mont-semibold";
    font-weight: 600;
    font-size: 1.3rem;
    color: #575650;
}
.registro-container-stepper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registro-box-all-inputs{
    margin-bottom:4rem;
}
.registro-box-input {
    margin:4rem 0;
    display:flex;
    flex-direction: column;
}
.registro-box-input:first-of-type{
    margin-top:2.5rem;
}
.registro-box-input label{
    font-family: "mont-light";
    font-size:1.3rem;
    color: #575650;
    opacity: 0.8;
    margin-bottom:0.8rem;
}
.registro-box-input input{
    border:none;
    border-bottom:1px solid #DADADA;

    font-family:"mont-light";
    font-size:1.2rem;
}

.registro-input-password{
    position:relative;
}
.registro-input-password input{
    width:100%;
}
.registro-input-password img{
    position:absolute;
    top: calc(50% - 1rem);
    right:0;
}

@media (min-width : 480px){
    .registro-container-contenido{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .registro-all-content{
        width:48rem;
    }
}

@media (min-width : 768px){
    .mq-mt-0{
        margin-top: 0!important;
    }
    .mq-mt-2{
        margin-top:2.5rem!important;
    }
    .registro-all-content{
        width:53rem;
    }
    .registro-title{
        font-size:1.5rem;
    }
    .registro-container-form{
        padding-left:2rem;
        padding-right:2rem;
        padding-bottom:0;
    }
    .registro-box-input{
        margin:3rem 0;
    }
    .registro-box-input input{
        background: #FFFFFF;
        opacity: 0.8;
        border: 1px solid #556EA1;
        box-sizing: border-box;
        border-radius: 1rem;
        height:4rem;
        padding:0 1rem;
    }
    .registro-container-button{
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
    }
    .registro-container-button > div{
        border-radius: 30px;
    }
}

@media (min-width : 1024px){
    .registro-all-content{
        width:76rem;
    }
    .registro-title{
        font-size:1.8rem;
    }
    .registro-container-form{
        padding:3rem;
    }
    .registro-box-input{
        margin:2rem 0;
    }
}