.css-yk16xz-control, .css-yk16xz-control{
	border-color: #556EA1 !important;
	border-radius: 15px !important;
}
.css-1pahdxg-control, .css-1pahdxg-control:hover, .css-1pahdxg-control:active{
	border-color: #556EA1 !important;
	border-radius: 15px !important;
	box-shadow: 0 0 0 ;
	outline: none ;
}

.css-1pahdxg-control:hover{
	border-color: #556EA1 !important;
	border-radius: 15px !important;
	box-shadow: 0 0 0 ;
	outline: none ;
}
.css-1pahdxg-control:active {
	border-color: #556EA1 !important;
	border-radius: 15px !important;
	box-shadow: 0 0 0 ;
	outline: none ;
}
.css-2613qy-menu:active .css-1vp9nu5-control{
	border-color: #556EA1 !important;
	border-radius: 15px !important;
	box-shadow: 0 0 0 ;
	outline: none ;
}
.css-2613qy-menu{
	border-color: #556EA1 !important;
	border-radius: 15px !important;
	box-shadow: 0 0 0 ;
	outline: none ;
}

.css-2b097c-container, .css-g1d714-ValueContainer{
	width: 100%;
	font-family: "mont-regular" !important;
  font-size: 14px;
}

.css-1rhbuit-multiValue {
	background-color: #556EA120 !important;
	color: #556EA1;
}
.css-12jo7m5 {
	color: #556EA1 !important;
}