
@media (min-width : 480px) and (max-width:767px){
    .info-all-content{
        width:45rem;
    }
    .info-perfil-contenido{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width : 1024px){
    
    
    
    .info-perfil-contenido{
        padding: 0 5rem;
    }
}